#search-wrapper {
  float: right;
  min-width: 20em;
  max-width: 30em;
  box-sizing: content-box;
  .gsc-control-cse {
    background-color: transparent !important;
    border: none !important;
  }
  .gsc-input-box {
    height: 32px;
  }
}

.product-screenshot {
  position: relative;
  display: inline-block;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #aaa;
  color: $text-color;

  &:visited {
    text-decoration: none;
    color: $text-color;
  }

  &:hover {
    text-decoration: none;
    border-color: $brand-color;
    color: $text-color;
  }
}

.product-screenshot h3 {
  text-align: center;
  padding: 0.2em;
  margin: 0;
}

.product-screenshot img {
  width: 320px;
  height: 192px;
}

.product-screenshot .product-description {
  position: absolute;
  bottom: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}

img.project-logo {
  padding-bottom: 1em;
  max-width: 20em;
  max-height: 10em;
}

div.logo-grid {
  clear: both;
  margin-top: 10px;
  text-align: center;
}

a.logo-grid-item {
  display: inline-block;
  padding: 10px;
  width: 33%;
  min-width: 300px;
  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    &:hover {
      filter: none;
      -webkit-filter: none;
    }
  }
}


