---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    <img title="{{page.title}}" src="/images/logo/{{page.logo}}" alt="{{page.title}} - {{page.description}}"/>

    <ul>
      <li>Website: <a href="{{page.website}}">{{page.website}}</a></li>
      <li>Started: {{page.start_date}}</li>
      <li>Duration: {{page.duration}}</li>
      <li>Project reference: <a href="{{page.project_reference}}">{{page.project_reference}}</a></li>
    </ul>
    {{ content }}
  </div>

</article>
